@model IEnumerable<AllData.Models.tbl_accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.register_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver_license_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sec_users.pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_cities.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_countries.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_genders.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.register_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driver_license_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sec_users.pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_cities.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_countries.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_genders.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
