@model IEnumerable<AllData.Models.trip_share>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.start_at_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_at_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_accounts.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_vehicles.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trip_types.name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.start_at_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_at_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_accounts.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_vehicles.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trip_types.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
